{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Books | Baptists For Africa Library</title>
    <link
      rel="shortcut icon"
      href="{% static './images/Baptists for Africa.jpg' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static './css/books.css' %}">
    <link rel="stylesheet" href="{% static './css/index.css' %}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    
    <script src="{% static './js/script.js' %}" defer></script>

</head>
<body>
    <section class="header">
        <nav>
            <a href="{% url 'index' %}"> <img src="{% static './images/Baptists for Africa.jpg' %}" alt="Bard Library Logo"> </a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'books' %}">Books</a></li>
                    <li><a href="{% url 'reservations' %}">Reservation</a></li>
                    <li><a href="{% url 'searchbook' %}">Search</a></li>
                    <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                    <li><a href="{% url 'user_logout' %}">Logout</a></li>
                    <!-- Add more navigation links as needed -->
                    {% if is_logged_in %}
                        <li><a href="{% url 'user_logout' %}">Logout</a></li>
                    {% endif %}
                
                </ul>

                <i class="fa fa-bars" onclick="showMenu()"></i>
            </div>
        </nav>

        <div class="container">
            <h1>Books</h1>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publication date</th>
                    <th>ISBN</th>
                    <th>Availability status</th>
                </tr>
                {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.publication_date }}</td>
                    <td>{{ book.isbn }}</td>
                    <td>{{ book.availability_status }}</td>
                    <td>
                        <a href="{% url 'borrow_book' %}">Borrow</a> |
                        <a href="{% url 'edit_book' %}">Edit</a> |
                        <a href="{% url 'delete_book' book.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        
    </section>    


    <footer>
        <div class="container">
            <p class="copyrights"> 2023&copy; Baptists For Africa Library System. All rights reserved</p>
        </div>
    </footer>
</body>
</html>

</html>