<!-- header.php -->

<header>
    <div class="container">
        <div class="logo">
            <img src="images/Baptists for Africa.jpg" alt="Baptists For Africa Library Logo">
            <h1>Baptists For Africa Library</h1>
        </div>
        <nav>
            <ul>
                <li><a href="index.php">Home</a></li>
                <li><a href="booklist.php">Books</a></li>
                <a href="availablebooks.php">Available Books</a>
                <li><a href="memberlist.php">Members</a></li>
                <a href="logout.php">Logout</a>
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
    </div>
</header>
