{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,">
    <!-- <link rel="stylesheet" href="{% static './css/style.css' %}"> -->
    <link rel="stylesheet" href="{% static './css/index.css' %}">
    <link rel="stylesheet" href="{% static './css/logger.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="{% static './js/script.js' %}" defer></script>

</head>
<body>
    <nav>
        <a href="/"> <img src="{% static './images/Baptists for Africa.jpg' %}" alt="Baptists for Africa Library Logo"> </a>
        <h2>Baptists for Africa Library System</h2>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" id="closeIcon" onclick="hideMenu()"></i>
            <ul id="menu"> <!-- Add id to the ul element -->
              <li> <a href="/">Home</a> </li>
              <!-- <li> <a href="{% url 'user_login' %}">Login</a> </li> -->
              <!-- <li> <a href="{% url 'signup' %}">Signup</a> </li> -->
              <li> <a href="{% url 'admin_login' %}">Admin Login</a> </li>
            </ul>
        </div>
          <i class="fa fa-bars" id="openIcon" onclick="showMenu()"></i>

    </nav>
        

</body>
</html>